@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

body, html {
    height: 100%;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
}

#weather-info h1 {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}


#overlay-title {
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 50%);
    text-align: center;
    color: white;
    z-index: 1;
    opacity: 0.8;
    user-select: none;
    text-shadow: .1em 0 0 hsl(0, 0%, 0%);
}
h2 {
    --a: -45deg; /* control the angle */
    --t: .10em; /* thickness of the underline */ 
  }
  
  h2 span {
    --_s: calc(var(--t)*cos(var(--a)));
    background:
      linear-gradient(var(--a),#00000000 var(--_s),currentColor 0 calc(100% - var(--_s)),#00000000 0) 
      bottom/var(--i,90%) var(--t) no-repeat;
    padding: 0 .25em calc(var(--t) + .1em);
    -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
    transition: .3s;
    cursor: pointer;
  }
  h2:hover span {
    --i: 100%;
  }
  
  h2 {
    font-family: sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
    text-transform: capitalize;
  }

#central-text {
    
    font-size: 65px;
    font-weight: bold;
    margin: 20px 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: white;
    z-index: 1;
    mix-blend-mode: overlay;
    user-select: none;
}

#central-text1 {
    
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: white;
    opacity: 0.4;
    z-index: 1;
    user-select: none;
}

#map {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#weather-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    z-index: 2;
    text-align: center;
    width: 400px;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(7px);
}

#space-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.hidden {
    display: none;
}

#close-popup {
    background: #fff;
    color: #000;
    font-weight: 600;
    border: none;
    padding: 9px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: 0.3s ease;
}

#close-popup:hover {
    color: #fff;
    border-color: #fff;
    background: rgba(255, 255, 255, 0.15);
}

#weather-info i {
    margin-right: 8px;
}
