<video id="space-video" autoplay loop muted>
  <source
    src="https://res.cloudinary.com/daa3yhyvy/video/upload/v1725264464/Weather/space.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<h2 id="overlay-title">
  <span>Weather Space: Earth's Climate at Your Fingertips</span>
</h2>
<p id="central-text">Explore Atmosphere</p>
<p id="central-text1">Click Anywhere to Locate The Map</p>

<div id="search-bar" class="search-bar">
  <input type="text" id="city-input" placeholder="Enter city name" />
  <button id="search-btn">Search Weather</button>
</div>

<div id="map" class="hidden"></div>

<div id="weather-popup" class="hidden">
  <div id="weather-info">
    <h1 id="location"></h1>
    <p><i class="fas fa-thermometer-half"></i> <span id="temperature"></span></p>
    <p><i class="fas fa-wind"></i> <span id="wind-speed"></span></p>
    <p><i class="fas fa-tint"></i> <span id="humidity"></span></p>
    <p><i class="fas fa-cloud"></i> <span id="cloud-cover"></span></p>
    <p><i class="fas fa-cloud-showers-heavy"></i> <span id="rain"></span></p>
    <div id="popup-search-bar" class="search-bar">
      <input type="text" id="popup-city-input" placeholder="Enter city name">
      <button id="popup-search-btn">Search Weather</button>
    </div>
    <button id="close-popup">Close</button>
  </div>
</div>

<video id="background-video" class="hidden" autoplay loop muted></video>
